<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dazhukeji.douwu">
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <permission
        android:name="com.dazhukeji.douwu.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>

    <!-- Required -->
    <uses-permission android:name="com.dazhukeji.douwu.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />



    <application
        android:name=".DwApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="com.dazhukeji.douwu" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- Required since JCore 1.1.7. SDK 核心功能-->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.dazhukeji.douwu.DataProvider"
            android:exported="false" />

        <!-- Required since JMessage 2.7.0 SDK 核心功能-->
        <provider
            android:name="cn.jpush.im.android.helpers.ipc.IMProvider"
            android:authorities="com.dazhukeji.douwu.IMProvider"
            android:exported="false" />

        <!-- Required JMessage SDK核心功能-->
        <receiver
            android:name="cn.jpush.im.android.helpers.IMReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <!-- since JCore 1.8.0 option 可选项。用于同一设备中不同应用的 jiguang 服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，或把 enabled 设置成 false ；拉起服务被关闭，App 不会通过拉起服务拉起其他的 App，也不会被其他 App 拉起。 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter >
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.dazhukeji.douwu"/>
            </intent-filter>
        </service>

        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。-->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。-->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />

        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="de77b5a6c605b0bc5b0f44f4" />

        <activity android:name=".ui.aty.MainActivity"
            android:theme="@style/DefaultCityPickerTheme"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.aty.mine.PublishVideoAty" />
        <activity android:name=".ui.aty.home.DanceOrgAty" />
        <activity android:name=".ui.aty.home.TeacherAty" />
        <activity android:name=".ui.aty.home.CourseAty" />
        <activity android:name=".ui.aty.home.CalendarAty" />
        <activity android:name=".ui.aty.home.RecruitHallAty" />
        <activity android:name=".ui.aty.home.RecruitDetailsAty" />
        <activity android:name=".ui.aty.home.NoticeDetailsAty" />
        <activity android:name=".ui.aty.home.VideoAty" />
        <activity android:name=".ui.aty.home.VideoDetailsAty"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".ui.aty.home.TeacherCourseDetailsAty"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.aty.home.DanceOrgDetailsAty"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.aty.home.OrganizationVideoAty" />
        <activity android:name=".ui.aty.home.TeacherDetailsAty"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.aty.home.TeacherVideoAty" />
        <activity android:name=".ui.aty.home.TeacherCourseAty" />
        <activity android:name=".ui.aty.home.DanceOrgCourseAty" />
        <activity android:name=".ui.aty.home.PayDialogAty"
            android:theme="@style/PayDialog"/>
        <activity android:name=".ui.aty.mine.EditPersonalInfoAty" />
        <activity android:name=".ui.aty.mine.MemberCollectAty" />
        <activity android:name=".ui.aty.mine.MemberFollowAty" />
        <activity android:name=".ui.aty.mine.OrganizationRecruitAty" />
        <activity android:name=".ui.aty.mine.ManageTeacherAty" />
        <activity android:name=".ui.aty.mine.OrgCourseManageAty" />
        <activity android:name=".ui.aty.mine.AddCourseAty" />
        <activity android:name=".ui.aty.mine.MemberVideoAty" />
        <activity android:name=".ui.aty.mine.MemberFreeEnterAty"
            android:theme="@style/PayDialog"/>
        <activity android:name=".ui.aty.mine.BeComeTeacherAty" />
        <activity android:name=".ui.aty.mine.BeComeOrgAty" />
        <activity android:name=".ui.aty.mine.PurchasedCoursesAty" />
        <activity android:name=".ui.aty.mine.PurchasedCoursesDetailsAty"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.aty.mine.VoucherAty" />
        <activity android:name=".ui.aty.mine.TeacherFansAty" />
        <activity android:name=".ui.aty.LoginAty" />
        <activity android:name=".ui.aty.mine.MemberChatAty" />
        <activity android:name=".ui.aty.mine.MemberChatDetailsAty"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".ui.aty.LoginDialogAty"
            android:theme="@style/PayDialog"/>
        <activity android:name=".ui.aty.home.ReportAty"
            android:theme="@style/PayDialog"/>
        <activity android:name=".ui.aty.mine.TeacherCourseManageAty" />
        <activity android:name=".ui.aty.mine.OrgFansAty" />
        <activity android:name=".ui.aty.mine.MemberTeacherInfo" />
        <activity android:name=".ui.aty.mine.OrgWalletAty" />
        <activity android:name=".ui.aty.mine.OrgSoldCoursesAty" />
        <activity android:name=".ui.aty.mine.TeacherSoldCoursesAty" />
        <activity android:name=".ui.aty.mine.TeacherWorksAty" />
        <activity android:name=".ui.aty.mine.TeacherWalletAty" />
        <activity android:name=".ui.aty.mine.TeacherChatAty" />
        <activity android:name=".ui.aty.mine.OrgChatAty" />
        <activity android:name=".ui.aty.mine.MemberSoldCoursesAty" />
        <activity android:name=".ui.aty.home.DanceRecruitDetailsAty" />
        <activity android:name=".ui.aty.home.DanceCourseDetailsAty"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.aty.home.DanceTeacherAty" />
        <activity android:name=".ui.aty.home.DanceTeacherDetailsAty" />
        <activity android:name=".ui.aty.home.DanceOrganizationVideoAty" />
        <activity android:name=".ui.aty.mine.AddTeacherAty" />
        <activity android:name=".ui.aty.mine.EditOrganizationAty" />
        <activity android:name=".ui.aty.mine.OrganizationWorksAty" />
        <activity android:name=".ui.aty.home.CourseDetailsAty"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name=".alipay.H5PayDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />


        <!-- 微信支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />

            <data android:scheme="自己的wxAPPID" />
        </intent-filter>

        </activity>

    </application>

</manifest>